@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

body {
    font-family: 'Inter', sans-serif;
}

h1, h2 {
    padding: 2rem 0rem 0rem 0rem;
}

.flex {
    /* display: flex; */
    /* justify-content: center;
    align-items: center; */
}

.border {
    border: 5px solid black;
}

.space {
    padding: 3rem;
}

.small-space {
    padding: 0rem 0rem 2rem 0rem;
}

.top-space {
    padding: 3rem 0rem 0rem 0rem;
}

a {
    color: #000000;
    text-decoration: none;
    /* font-size: 2rem */
}

.big-font {
    font-size: 2rem;
}

