{% extends 'base.html' %}
{% block content %}
<div>
    <h2>
        {{ blog.title }}
    </h2>
    <h4>By {{ blog.user }}</h4>
    <p>{{ blog.content|safe }}</p>
    {% if user.is_authenticated %}
        {% if user.id == blog.user.id %}
            <div>
                <a href="edit">Edit</a>
                <a href="delete">Delete</a>
            </div>
        {% endif %}

        <a href="comment">Add Comment</a>
    {% endif %}
    <ul>
        {% for comment in comments %}
            <h4>
                {{ comment.comment }} - 
            </h4>
        {% endfor %}
    </ul>
</div>
{% endblock %}