{% extends 'base.html' %}
{% block content %}
<div>
    <h2>
        Blog List
    </h2>
    <a href="create">Create New Blog</a>
    <ul>
        {% for blog in blogs %}
            <h4>
                {{ blog.user.username }} - 
                {{ blog.title }} -
                <a href="{{ blog.id }}">
                    {{ blog.title }} -
                </a>
                {{ blog.content }} - 
                {{ blog.created_at }}
                <a href="{{ blog.id }}/edit">Edit</a>
                <a href="{{ blog.id }}/delete">X</a>
            </h4>
        {% endfor %}
    </ul>
</div>
{% endblock %}