{% extends 'base.html' %}
{% block content %}
<div>
    <h2>
        {{ blog.title }}
    </h2>
    <h4>By {{ blog.user }}</h4>
    <p>{{ blog.content|safe }}</p>

    {% if user.id == blog.user.id %}
        <div>
            <a href="edit">Edit</a>
            <a href="delete">Delete</a>
        </div>
    {% endif %}

    <h4>Comments</h4>

    {% if not blog.comments.all %}
        <p>No Comments Yet</p>
        <!-- <a href="#">Add Comment</a> -->
    {% else %}
        <ul>
            {% for comment in blog.comments.all %}
                <div>
                    {{ comment.comment}}
                </div>
                <p>
                    {{ comment.user }} - {{ comment.created_at }}
                </p>
            {% endfor %}
        </ul>
    {% endif %}

    <h4>Add Comment</h4>
    {% if user.is_authenticated %}
    <form method="POST">
        {{ comment_form.as_p }}
        {% csrf_token%}
        <!-- <label for="comment">  </label>
        <input id="comment" type="text" name="comment"> -->
        <button type="submit">Add Comment</button>
    </form>
    <!-- <a href="comment">Add Comment</a> -->
    <script>
        let name = "{{ user.id }}"
        // let name = "{{ user.username }}";;
        document.getElementById("user").value = name;
    </script>
{% endif %}
</div>


{% endblock %}