{% extends 'base.html' %}
{% block content %}

<div>
    <h2>{{ blog.title }}</h2>
    <p>- {{ blog.user }}</p>
    <p>{{ blog.content|safe }}</p>

    {% if user.id == blog.user.id %}
        <div>
            <a href="edit" class="btn btn-warning btn-sm">Edit</a>
            <a href="delete" class="btn btn-danger btn-sm">Delete</a>
        </div>
    {% endif %}

    <!-- <form action="{% url 'blogpost_like' blog.pk %}" method="POST">
        {% csrf_token %}
        {% if blog_is_liked %}
        <button type="submit" name="blog_id" value="{{ blog.id }}" class="btn btn-info btn-sm">Unlike</button>
        {% else %}
        <button type="submit" name="blog_id" value="{{ blog.id }}" class="btn btn-info btn-sm" >Like</button>
        {% endif %}
    </form>
    <p>{{ number_of_likes }} Likes</p> -->

    <h3 class="top-space">Comments</h3>
    {% if not blog.comments.all %}
        <p>No Comments Yet</p>
    {% else %}
        {% for comment in blog.comments.all %}
            <div class="small-space">
                <div>{{ comment.comment}}</div>
                <p>{{ comment.user }} - {{ comment.created_at }}
                    {% if user.is_authenticated %}
                        {% if user.id == comment.user.id %}    
                            <a href="edit_comment/{{ comment.id }}" class="btn btn-warning btn-sm ">Edit</a>
                            <a href="delete_comment/{{ comment.id }}" class="btn btn-danger btn-sm ">Delete</a>
                        {% endif %}
                    {% endif %}
                </p>
            </div>
        {% endfor %}
    {% endif %}

    <h4>Add Comment</h4>

    {% if user.is_authenticated %}
        <form method="POST">
            {{ comment_form.as_p }}
            {% csrf_token%}
            <!-- <label for="comment">  </label>
            <input id="comment" type="text" name="comment"> -->
            <button type="submit" class="btn btn-success">Add Comment</button>
        </form>
    
        <script>
            let name = "{{ user.id }}"
            document.getElementById("user").value = name;
        </script>
    {% endif %}
</div>


{% endblock %}