{% extends 'base.html' %}
{% block content %}
<div>
    <h2>My Blog List</h2>
    <a href="create">Create New Blog</a>
    <ul>
        {% for blog in blogs %}
            <h4>
                <a href="{{ blog.id }}">{{ blog.title }}</a><br/>
                {{ blog.content }}<br/> 
                {{ blog.created_at }}
                <a href="{{ blog.id }}/edit">Edit</a>
                <a href="{{ blog.id }}/delete">Delete</a>
            </h4>
        {% endfor %}
    </ul>
</div>
{% endblock %}
