{% extends 'base.html' %}
{% block content %}

{% if user.is_authenticated %}
<h2>Create New Blog</h2>
    <div class="">
        <form method = "POST">
            <div class="mb-3">
                {% csrf_token %}
                {{ form.media }}
                {{ form.as_p }}
                <button type="submit" class="btn btn-success">Post</button>
            </div>
        </form>
    </div>

    <script>
        let name = "{{ user.id }}"
        // let name = "{{ user.username }}";;
        document.getElementById("user").value = name;
    </script>
{% else %}
Please log in
{% endif %}

{% endblock %}