{% extends 'base.html' %}
{% block content %}
<div>
    <h2>
        All Bloggs
    </h2>
    <ul>
        {% for blog in blogs %}
            <li>
                {{ blog.user.username }},
                <a href="{% url 'blogs' %}">{{ blog.title }}</a><br/>          
                {{ blog.content }}
                {{ blog.created_at }}

                {% if user.is_authenticated %}
                    {% if user.id == blog.user.id %}    
                        <a href="{{ blog.id }}/edit">Edit</a>
                        <a href="{{ blog.id }}/delete">Delete</a>
                    {% endif %}
                {% endif %}
            </li>
        {% endfor %}
    </ul>
</div>
{% endblock %}

