{% extends 'base.html' %}
{% block content %}

<div>
    <h2>Explore</h2>
    <div>
        {% for blog in blogs %}
            <div class="card border-dark mb-3" style="max-width: 100%;">
                <!-- <div class="card-header"><a href="/blogs/{{ blog.id }}" class="big-font" >{{ blog.title }}</a></div> -->
                <div class="card-body">
                    <h4 class="card-title"><a href="/blogs/{{ blog.id }}" class="white">{{ blog.title }}</a></h4>
                    <p class="card-text">{{ blog.content|safe }}</p>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}

