{% extends 'base.html' %}
{% block content %}
<div>
    <h2>
        Blog List

    </h2>
    <ul>
        {% for blog in blogs %}
            <li>
                {{ blog.user.username }},
                <a href="{{ blog.id }}">{{ blog.title }}</a><br/>          
                {{ blog.content }}
                {{ blog.created_at }}
                <a href="{{ blog.id }}/edit">Edit</a>
                <a href="{{ blog.id }}/delete">X</a>
            </li>
        {% endfor %}
    </ul>
</div>
{% endblock %}